<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto Serif' rel='stylesheet'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'main.jsx' %>
    <%= vite_stylesheet_tag 'index.css' %>

  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    const global = globalThis
  </script>
</html>